<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 lg:col-4 pr-0 lg:pr-4">
            <div class="text-900 text-5xl font-bold mb-3">Meet NMC</div>
            <p class="text-700 text-lg line-height-3">I am NMC, a house music DJ based in Rochester, NH. As a new DJ, I am excited to bring my passion for music to audiences in my local community and beyond. While I may be new to the scene, I am dedicated to honing my skills and creating a unique sound that sets me apart.</p>
            
            <p class="text-700 text-lg line-height-3">I am passionate about house music and am committed to creating an unforgettable experience for my audience. I am open to catering to anyone's needs and am able to play a wide range of genres to suit any occasion. I enjoy exploring different styles of music and incorporating them into my sets to create a dynamic and engaging performance.</p>
            <p class="text-700 text-lg line-height-3">
                While I may be new to the industry, I am dedicated to staying up-to-date with the latest trends and developments in house music. I am always looking for ways to improve my skills and knowledge, and I am excited to see where my journey as a DJ takes me.
            </p>
        </div>
        <div class="col-12 lg:col-8">
            <div class="grid">
                <div class="col-12 lg:col-6 p-3">
                    <img src="../../../assets/images/marc-miami.jpg" class="mb-4 w-full" />
                    <div class="font-medium text-xl mb-1 text-900">Marc Cataldo</div>
                    <span class="text-600 font-medium">DJ/Producer</span>
                    <p class="line-height-3 mt-3 mb-3"></p>
                    <div class="mb-2">
                        <a tabindex="0" class="cursor-pointer"><i class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                        <a tabindex="0" class="cursor-pointer"><i class="pi pi-github text-600 text-xl mr-3"></i></a>
                        <a tabindex="0" class="cursor-pointer"><i class="pi pi-facebook text-600 text-xl"></i></a>
                    </div>
                </div>

            </div>  
        </div>
    </div>
</div>