<section class="h-full bg-cover" style="background-image: url('assets/images/blocks/navbar/navbar-3.jpg');">
    <div class="py-3 px-6 shadow-2 flex align-items-center justify-content-between relative bg-black-alpha-50">
        <img src="../../../assets/images/weblogo.png" alt="Image" height="50" routerLink="/"  style="cursor: pointer;">
        <a pRipple class="cursor-pointer block lg:hidden text-gray-400" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
            <i class="pi pi-bars text-4xl text-white"></i>
        </a>
        <nav class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 top-100 px-6 lg:px-0 shadow-2 lg:shadow-none lg:bg-transparent" style="background-color: rgba(0, 0, 0, 0.5);">
            <ul class="list-none p-0 m-0 lg:m-auto flex lg:align-items-center text-gray-400 select-none flex-column lg:flex-row" >
                <li>
                    <a pRipple class="flex align-items-center px-0 px-3 xl:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150 cursor-pointer">
                        <span class="text-white font-semibold text-xl" routerLink="services">Services</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center px-0 px-3 xl:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150 cursor-pointer">
                        <span class="text-white font-semibold text-xl" routerLink="contact">Contact</span>
                    </a>
                </li>
                <li>
                    <a pRipple class="flex align-items-center px-0 px-3 xl:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150 cursor-pointer">
                        <span class="text-white font-semibold text-xl" routerLink="about">About</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>